<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Subscriber" asp-action="Index" mg=1>Edu Portal</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-12">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @_localization.Getkey("Subscriber Operations")
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" inline my-2 my-lg-0 style="margin-left: auto;">
                        <li><a class="dropdown-item" asp-controller="Subscriber" asp-action="Create">@_localization.Getkey("Subscriber Registration")</a></li>
                        <li><a class="dropdown-item" asp-controller="Subscriber" asp-action="Find">@_localization.Getkey("Subscriber Inquiry")</a></li>
                        <li><a class="dropdown-item" asp-controller="Subscriber" asp-action="Terminate">@_localization.Getkey("Terminate Subscriber")</a></li>
                        @* <li><a class="dropdown-item" asp-controller="Subscriber" asp-action="AddressRegister">Adres Kayýt Test</a></li> *@

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        @_localization.Getkey("Invoice Operations")
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" inline my-2 my-lg-0 style="margin-left: auto;">
                        <li><a class="dropdown-item" asp-controller="Invoice" asp-action="Find">@_localization.Getkey("Invoice Payment")</a></li>
                        <li><a class="dropdown-item" asp-controller="Invoice" asp-action="Complaint">@_localization.Getkey("Invoice Complaint")</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Planlý Kesinti
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" inline my-2 my-lg-0 style="margin-left: auto;">
                        <li>
                        <li><a class="dropdown-item" asp-controller="OutageNotification" asp-action="Index">Planlý Kesinti Sorgula</a></li>

                        </li>
                    </ul>
                </li>
                <li>
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                            @_localization.Getkey("Localization")
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="en-US" class="dropdown-item">
                                    <i class="flag-icon flag-icon-gb"></i> @_localization.Getkey("English")
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="fr-FR" class="dropdown-item">
                                    <i class="flag-icon flag-icon-gb"></i> @_localization.Getkey("French")
                                </a>
                                <a asp-controller="Home" asp-action="ChangeLanguage" asp-route-culture="tr-TR" class="dropdown-item">
                                    <i class="flag-icon flag-icon-gb"></i> @_localization.Getkey("Turkish")
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>
