@using EduPortal.Application.DTO_s.Subscriber

@model SubsCorporateDto



<form method="post" class="corporate-find" asp-action="FindCorporate">
    <div class="form-group">
        <label for="TaxIdOrCounterNumber">@_localization.Getkey("TaxID") / @_localization.Getkey("CounterNumber"):</label>
        <input type="text" class="form-control" id="TaxIdOrCounterNumber" name="TaxIdOrCounterNumber">
    </div>
    <button type="submit" asp-controller="Subscriber" asp-action="FindCorporate" class="btn btn-primary">@_localization.Getkey("Fetch Information")</button>
</form>



<div class="col">
    @if (Model != null)
    {
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>@_localization.Getkey("CorporateName")</th>
                    <th>@_localization.Getkey("PhoneNumber")</th>
                    <th>@_localization.Getkey("TaxID")</th>
                    <th>@_localization.Getkey("CounterNumber")</th>
                    <th>@_localization.Getkey("SubscriberType")</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> @Model.CorporateName </td>
                    <td> @Model.PhoneNumber </td>
                    <td> @Model.TaxIdNumber </td>
                    <td> @Model.CounterNumber </td>
                    <td> @_localization.Getkey("SubscriberType") </td>
                </tr>

            </tbody>
        </table>
    }
</div>
