@using EduPortal.Application.DTO_s.Subscriber;
@model List<SubsIndividualDto>


<form method="post" class="individual-find" asp-action="FindIndividual">
    <div class="form-group">
        <label for="IdentityOrCounterNumber">T.C. Kimlik No / Tesisat No:</label>
        <input type="text" class="form-control" id="IdentityOrCounterNumber" name="IdentityOrCounterNumber">
    </div>
    <button type="submit" asp-controller="subscriber" asp-action="FindIndividual" class="btn btn-primary">Bilgileri Getir</button>
</form>



<div class="col">
    @if (Model != null)
    {
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>İsim Soyisim</th>
                    <th>Telefon Numarası</th>
                    <th>Tc Kimlik No</th>
                    <th>Sayaç Numarası</th>
                    <th>Doğum tarihi</th>
                    <th>Abone Tipi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SubsIndividualDto subsIndividual in Model)
                {
                    <tr>
                        <td> @subsIndividual.NameSurname </td>
                        <td> @subsIndividual.PhoneNumber </td>
                        <td> @subsIndividual.IdentityNumber </td>
                        <td> @subsIndividual.CounterNumber </td>
                        <td> @subsIndividual.BirthDate </td>
                        <td> @subsIndividual.SubscriberType </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

