@using EduPortal.Domain.Entities

@model SubsIndividual


<form method="post" asp-controller="Invoice" class="individual-find" asp-action="PaymentIndividual">
    <div class="form-group">
        <label for="IdentityOrCounterNumber">@_localization.Getkey("IDNumber") / @_localization.Getkey("CounterNumber"):</label>
        <input type="text" class="form-control" id="IdentityOrCounterNumber" name="IdentityOrCounterNumber">
    </div>
    <button type="submit" asp-controller="Invoice" asp-action="PaymentIndividual" class="btn btn-primary">@_localization.Getkey("Fetch Information")</button>
</form>



<div class="col">
    @if (Model != null)
    {
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>@_localization.Getkey("NameSurname")</th>
                    <th>@_localization.Getkey("PhoneNumber")</th>
                    <th>@_localization.Getkey("CounterNumber")</th>
                    <th>@_localization.Getkey("BirthDate")</th>
                    <th>@_localization.Getkey("IndividualSubscription")</th>
                    <th>@_localization.Getkey("Invoices")</th>

                </tr>
            </thead>
            <tbody>
           
                    <tr>
                    <td> @Model.NameSurname </td>
                    <td> @Model.PhoneNumber </td>
                    <td> @Model.CounterNumber </td>
                    <td> @Model.BirthDate.Year </td>
                    <td> @Model.SubscriberType </td>
                        <td>
                        <a asp-controller="Invoice" asp-action="InvoiceList" asp-route-id="@Model.Id" class="btn btn-primary" style="color:brown; background:darkorange">@_localization.Getkey("Invoices")</a>

                        </td>
                    </tr>
                

            </tbody>
        </table>
    }
</div>
