@using EduPortal.Domain.Entities

@model List<SubsIndividual>


<form method="post" asp-controller="Invoice" class="individual-find" asp-action="PaymentIndividual">
    <div class="form-group">
        <label for="IdentityOrCounterNumber">T.C. Kimlik No / Tesisat No:</label>
        <input type="text" class="form-control" id="IdentityOrCounterNumber" name="IdentityOrCounterNumber">
    </div>
    <button type="submit" asp-controller="Invoice" asp-action="PaymentIndividual" class="btn btn-primary">Bilgileri Getir</button>
</form>



<div class="col">
    @if (Model != null)
    {
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Abone İsim</th>
                    <th>Telefon Numarsı</th>
                    <th>Sayaç Numarası</th>
                    <th>Abonelik tarihi</th>
                    <th>Abone Tipi</th>
                    <th>Faturalar</th>

                </tr>
            </thead>
            <tbody>
                @foreach (SubsIndividual subsIndividual in Model)
                {
                    <tr>
                        <td> @subsIndividual.NameSurname </td>
                        <td> @subsIndividual.PhoneNumber </td>
                        <td> @subsIndividual.CounterNumber </td>
                        <td> @subsIndividual.Created.Year </td>
                        <td> @subsIndividual.SubscriberType </td>
                        <td>
                            <a asp-controller="Invoice" asp-action="InvoiceList" asp-route-id="@subsIndividual.Id" class="btn btn-primary" style="color:brown; background:darkorange">Faturaları Göster</a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>
