@using EduPortal.Domain.Entities

@model List<SubsCorporate>



<form method="post" asp-controller="Invoice" class="corporate-find" asp-action="PaymentCorporate">
    <div class="form-group">
        <label for="TaxIdOrCounterNumber">Vergi Kimlik No / Tesisiat No:</label>

        <input type="text" class="form-control" id="TaxIdOrCounterNumber" name="TaxIdOrCounterNumber">
    </div>
    <button type="submit" asp-controller="Invoice" asp-action="PaymentCorporate" class="btn btn-primary">Bilgileri Getir</button>
</form>




<div class="col">
    @if (Model != null)
    {
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Kurum İsmi</th>
                    <th>Telefon Numarası</th>
                    <th>Vergi Kimlik Numarası</th>
                    <th>Sayaç Numarası</th>
                    <th>Abone Tipi</th>
                    <th>Faturalar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SubsCorporate subsCorporate in Model)
                {
                    <tr>
                        <td> @subsCorporate.CorporateName </td>
                        <td> @subsCorporate.PhoneNumber </td>
                        <td> @subsCorporate.TaxIdNumber </td>
                        <td> @subsCorporate.CounterNumber </td>
                        <td> @subsCorporate.SubscriberType </td>
                        <td>
                            <a asp-controller="Invoice" asp-action="InvoiceList" asp-route-id="@subsCorporate.Id" class="btn btn-primary" style="color:brown; background:darkorange">Faturaları Göster</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

