@using EduPortal.Application.DTO_s.Subscriber


@model SubsIndividualDto

<form method="post" class="individual-find" asp-controller="Subscriber" asp-action="TerminateIndividual" onsubmit="return validateForm()">
    <div class="form-group">
        <label for="IdentityOrCounterNumber">@_localization.Getkey("IDNumber") / @_localization.Getkey("CounterNumber"):</label>
        <input type="text" class="form-control" id="IdentityOrCounterNumber" name="IdentityOrCounterNumber">
    </div>
    <button type="submit" class="btn btn-primary">@_localization.Getkey("Fetch Information")</button>
</form>

<div class="col">
    @if (Model != null)
    {
        <table class="table table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>@_localization.Getkey("NameSurname")</th>
                    <th>@_localization.Getkey("PhoneNumber")</th>
                    <th>@_localization.Getkey("IDNumber")</th>
                    <th>@_localization.Getkey("CounterNumber")</th>
                    <th>@_localization.Getkey("BirthDate")</th>
                    <th>@_localization.Getkey("SubscriberType")</th>
                    <th>@_localization.Getkey("SubscriptionActions")</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.NameSurname</td>
                    <td>@Model.PhoneNumber</td>
                    <td>@Model.IdentityNumber</td>
                    <td>@Model.CounterNumber</td>
                    <td>@Model.BirthDate.ToString("dd/MM/yyyy")</td>
                    <td>@Model.SubscriberType</td>
                    <td>
                        <form method="post" asp-controller="Subscriber" asp-action="TerminateSubsIndividual">
                            <input type="hidden" name="IdentityNumber" value="@Model.IdentityNumber" />
                            <button type="submit" class="btn btn-danger">@_localization.Getkey("TerminateSubscription")</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

<script>
    function validateForm() {
        var input = document.getElementById("IdentityOrCounterNumber").value;
        if (input.trim() == "") {
            alert("@_localization.Getkey("IDNumber") / @_localization.Getkey("CounterNumber") @_localization.Getkey("cannotbeempty")");
            return false;
        }
        return true;
    }
</script>
